body, html {
    height: 100%;
}

.body-background {
    background-image: linear-gradient(to right, rgb(197, 212, 240), #87bbf3);
}

/* nav bar */
.navbar #inactive {
    color: #004289;
    font-size: 14px;
}

.navbar #active {
    color: #007bff;
    font-size: 14px;
}

/* sidenav bar */
/* #calculation img {
    width: 50px;
} */
.sidenav span {
    color: #004289;
}

/* .progress {
    z-index: -1;
} */


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 50px;
}

.sidenav a {
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    line-height: 1;
    color: #8d9196;
    display: block;
}

.sidenav a.active {
    font-size: 14px;
    font-weight: bolder;
    color: #004289;
}

.sidenav a.display {
  color: #004289;
}

.display:hover, .display:active {
    color: #004289;
    font-weight: bold;
}


@media screen and  (min-width: 280px) and (max-width: 760px) {
  .sidebar {
    display: none;
  }

  .standard-question {
    padding-top: 60px;
  }

}

/* questions */
.hide {
  display: none;
}
.section-question {
  background-color: #ECF5FF;
}

.standard-question {
    margin-top: 120px;
}

.button {
  background-color: #064197;
  color: white;
}

.button:hover {
    background-color: white;
    color: #064197;
    border: 1px solid #064197;
}

ul {
  list-style-type: none;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: center;  /* to align cards center */
}

li {
  display: inline-block;
}
input[type="checkbox"][id^="cb"] {
  display: none;
}

.question-label {
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.question-card {
  width: 200px;
  height: 230px;
  background-color: white;
  transition-duration: 0.2s;
  position: relative;
  display: inline-block
}

.question-card-body{
  width: 200px;
  height: 35px;
}


label img {
  height: 180px;
  width: 180px;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.2s;
  transform: scale(0);
}

:checked + label:before {
  content: "✓";
  background-color:  #064197;
  text-align: center;
  transform: scale(0.8);
  z-index: 2;
}

:checked + label.card {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
}

/* hover */
.description{
    font-size: 12px;
    display: none;
    width: 200px;
    height: 230px;
    padding: 5px;
    position:absolute;
    background-image: linear-gradient(to right, #5283cc, #064197);
    z-index: 1;
}

p {
  line-height: 1.4;
}

label:hover .description {
    display: block;
}


/* get started page */
.blue-backgroud {
  background-image: url("./images/blue-backgroud.png");
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
  top: 65px;
}

.email-image {
  margin:100px auto;
  width: 100%;
  height: auto;
}
.introduction {
  height: 270px;
  margin: 0 auto;
  width: 90%;
}
.welcome-title{
  font-size: 3em;
  margin-top: 50px;
}

.card-introduction {
  height: 270px;
  width: 150px;
  display: inline-block;
}

.card-info {
  width: 150px;
}


/* email section */
#email {
  border: 1px solid #1742A5;
  padding: 3px;
  border-radius: 10px;
  margin: 0 120px;
}

.welcome-label {
  padding: 10px;
  margin: 0px;
  display: block;
  position: relative;
}

#submit {
  background-color: #1742A5;
  padding: 15px 20px;
  border: 2px solid  #064197;
  border-radius: 30px;
  color: white;
  margin: 0 120px;
  padding: 5px 40px;
}

#submit:hover {
    color: #064197;
    background-color: white;
    border: 2px solid #064197;

}


/* summary section */
.hours-summary, .costs-summary {
    padding: 5px;
    display: block;
    position: relative;
    margin: 10px;
}

.card-summary, .summary {
    width: 350px;
    height: 170px;
}

.summary img {
    justify-content: center;
    width: 40px;
    height: 40px;
}

.summary .h6 {
    font-size: 14px;
    word-spacing: 30px;
    line-height: 0;
}

/* footer */
footer {
    width: 100%;
    height: auto;
    overflow: hidden;
}

footer img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}


/*Progressbar */

#progressbar-container {
  width:100%;
  margin-bottom: 5%;
  padding-bottom: 5px;

}

#stepProgressBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.step {
  width: 100%;
  position: relative;
}

.bullet {
  border: 1px solid lightblue;
  height: 15px;
  width: 15px;
  transition: background-color 500ms;
  border-radius: 15px;
  align-content: center;
}

.bullet.completed {
  color: white;
  background-color: #1742A5;
}

.bullet.completed::after {
  content: '';
  position: absolute;
  bottom: 5px;
  height: 5px;
  width:calc(90% - 15px);
  display:flex;
  background-color: #1742A5;
  margin-left:15px;

}

#content {
  text-align: center;
  font-weight: bold;
  color: #1742A5;
  margin-bottom: 15px;
}

/* confirmation page */
#estimate-button {
    background-color: rgb(102, 189, 243);
    border: 1px solid white;
}

#estimate-button:hover {
    color: #064197;
    background-color: white;
    border: 1px solid #064197;

}

/* responsive design */
/* 4K screen */
@media screen and  (min-width: 1800px) and (max-width: 2560px) {
  .blue-backgroud {
    width: 100%;
    height: 900px;
    max-height: 1250px;
  }
  .email-image {
    margin:70px auto;
    width: 90%;
    height: auto;
  }
  .introduction {
    height: 350px;
    width: 90%;
  }
  .welcome-title{
    font-size: 4em;
    margin-top: 50px;
  }

  .welcome-label {
    padding: 10px;
    margin: 10px;
    display: block;
    position: relative;
  }

  .card-introduction {
    height: 300px;
    width: 200px;
  }

  .card-info {
    width: 200px;
    font-size: 1em;
  }
  .app-page-titles{
    font-size: 1.5em;
  }
  #email {
    border: 4px solid #1742A5;
    padding: 3px;
    border-radius: 15px;
    width: 280px;
    height: 45px;
    margin: 0 60px;
    position: absolute;
  }
  #submit {
    margin: 0 200px;
    font-size: 1em;
    position:relative;
    top: -25px;
    left: 150px;
  }

}
/* laptop */
@media screen and  (min-width: 800px) and (max-width: 1300px) {
  .blue-backgroud {
    width: 100%;
    height: 500px;
  }
  .email-image {
    margin:70px auto;
    width: 100%;
    height: auto;
  }
  .introduction {
    height: 190px;
    width: 90%;
  }
  .welcome-title{
    font-size: 2em;
    margin-top: 30px;
  }
  .card-introduction {
    height: 190px;
    width: 120px;
  }

  .card-info {
    width: 120px;
    font-size: 0.8em;
  }
  .app-page-titles{
    font-size: 1.2em;
  }
  #email {
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin: 0 120px;
  }
  #submit {
    margin: 0 0 0 120px;
    font-size: .7em;
  }
}
/* tablet */
@media screen and  (min-width: 500px) and (max-width: 800px) {
  /* getting started page */
  .blue-backgroud {
    width: 100%;
    height: 400px;
  }
  .email-image {
    margin:70px auto;
    width: 100%;
    height: auto
  }
  .introduction {
    height: 80px;
    width: 90%;
  }
  .welcome-title{
    font-size: 1.5em;
    margin-top: 30px;
  }
  .card-introduction {
    height: 80px;
    width: 100px;
  }
  .app-page-text {
    display:none;
  }
  .app-page-titles{
    font-size: .8em;
  }
  #email {
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin: 0 90px;
  }
  #submit {
    /* margin: 0  0  0 90px; */
    font-size: .5em;
    padding: 8px 15px;
  }
  /* question section */
  #next-button{
    font-size: 18px;
  }

  .description{
    font-size: 11px;
    display: none;
    width: 180px;
    height: 230px;
    padding: 5px;
    position:absolute;
    background-image: linear-gradient(to right, #5283cc, #064197);
    z-index: 1;
  }

  .question-card {
    width: 180px;
    height: 230px;
    background-color: white;
    transition-duration: 0.2s;
    position: relative;
    display: inline-block
  }
  
  .question-label {
    padding: 3px;
  }

  .question-card-body{
    width: 180px;
    height: 35px;
  }

  label img {
    height: 160px;
    width: 160px;
  }

  p {
    line-height: 1.4;
  }

  /* summary section */
  .hours-summary, .costs-summary {
    padding: 0px;
    display: block;
    position: relative;
    margin: 10px;
  }

.card-summary, .summary {
    width: 300px;
    height: 170px;
  }
}

/* mobile */
@media screen and  (min-width: 320px) and (max-width: 500px) {
  .blue-backgroud {
    width: 100%;
    background-image: url("./images/mobile-backgoundcolor.png");
  }
  .email-image {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .introduction {
    height: 80px;
    width: 90%;
  }

  .welcome-title{
    font-size: 1.4em;
    margin-top: 30px;
  }
  .card-introduction {
    height: 80px;
    width: 100px;
  }
  .app-page-text {
    display:none;
  }
  .app-page-titles{
    font-size: .8em;
  }
  #email {
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin: 0 90px;
  }
  #submit {
    /* margin: 0  0  0 90px; */
    font-size: .5em;
    padding: 8px 15px;
  }

  #next-button {
    font-size: 16px;
  }
  /* summary section */
  .hours-summary, .costs-summary {
    padding: 0px;
    display: block;
    position: relative;
    margin: 10px;
  }

.card-summary, .summary {
    width: 250px;
    height: 180px;
  }

  /* confirmation page */
  #estimate-button, #appointment-button {
    font-size: 14px;
  }
}
